@charset "UTF-8";

.navbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 140px;
  background-color: #7985b5;
}

.main1 {
  display: flex;
  align-items: center;
}

.main2 {
  font-weight: bold;
  font-size: 17px;
}

.modal-header {
  background-color: #7a86b6;
}

.logo {
  display: block;
  margin-left: 43%;
  justify-content: center;
  text-align: center;
}

.modal-body {
  padding: 30px;
}

.btnNext {
  background-color: #495c82;
  border-color: #495c82;
}

.agreeAllTitle {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 10px;
}

.form-check .form-check-input {
  float: none;
  /* margin-left: -1.5em; */
}

.agreeAll {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.agreeTitle {
  font-size: 15px;
}

.terms {
  width: 100%;
  margin: 5px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  resize: none;
  border-radius: 5px;
  /* border-width: 1.75px; */
  border-color: #495c82;
}

.enrollTable {
  margin: auto;
}

.enrollForm-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.enrollForm-name {
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 5px;
}

.info_enter {
  width: 300px;
  height: 35px;
  margin: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: #495c82 1.5px;
  border-radius: 5px;
  border-style: solid;
}

.btn_enter {
  font-size: 13px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border: #495c82;
  /* text-align: center; */
}

.enrollForm-error {
  /* visibility: hidden; */
  /* position: absolute; */
  padding-left: 7px;
  font-size: 10px;
  color: #f1785b;
}

.profilForm-title {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  opacity: 0.7;
}

.profilForm-img {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#imgOri {
  background-color: #495c82;
  /* border: 1px #495c82;  */
  /* background-color: gray; */
  border: 1px gray;
  border-style: solid;
  border-radius: 50%;
}

.profilForm-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.imgBtn {
  margin: auto;
  font-size: 13px;
  width: 85px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border: #495c82;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(245, 245, 245);
}

.checkbox_group label {
  padding-left: 7px;
}

#pwdCheckTitle {
  align-items: center !important;
  font-size: 1.2em !important;
  font-weight: 700 !important;
  color: white !important;
}

.modal-body table {
  margin: 0 auto !important;
  border-spacing: 20px !important;
}

/* .modal-body table th {
  padding-right: 20px !important;
  padding-top: 10px !important;
  text-align: center !important;
  font-size: medium !important;
  font-weight: 600 !important;
  color: white !important;
} */

.inputPwdCheck {
  width: 300px !important;
  height: 50px !important;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #e2e2e2 !important;
  margin-top: 10px !important;
  float: right !important;
  padding: 10px !important;
  font-size: large !important;
}

.enrollTable input::placeholder {
  	font-size: 9px;
	opacity: 0.5;
}

.submitForm-no {
	display: block;
	font-size: 14px;
	text-align: center;
}

