* {
  font-family: "Noto Sans KR", sans-serif;
}

/* body css */
@media only screen and (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 2.5rem;
  }

  .studyTitle {
    font-size: 50px;
    margin: 5px;
  }
}

.row {
  border-bottom: 4px dotted #e2e2e2;
}

#myStudyType,
#likeStudyType {
  border-bottom: 6px dotted #e2e2e2;
  padding-bottom: 0rem !important;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* margin-bottom: 40px; */
  font-weight: bold;
  font-style: oblique;
  color: #495c83;
}

/* 메인 메뉴 */
.mainMenuList {
  gap: 50px;
  padding-bottom: 20px;
  padding-left: 60px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categoryLanguage {
  float: left;
  font-weight: 800;
  font-size: 32px;
  line-height: 126.5%;
  color: #848484;
  cursor: pointer;
  margin-right: 100px;
}


.categoryLanguage:focus
.categoryLanguage:hover {
  color: #495c83;
}

.categoryLanguage:hover{
  color: #495c83;
}
.categoryLanguage:hover > ul{
  color: #848484;
}
.categoryLanguage > ul > li:hover{
  color: #495c83;
}
.categoryLanguage > ul{
  display: none;
  position: absolute;
}
.categoryLanguage > ul > li{
  list-style-type: none;
  float: left;
  margin-right: 50px;
}

#menu > ul > li > ul > li{
  float: left;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  width: 100% !important;
  height: 380px !important;
  border-radius: 15% !important;
  border: none !important;
  background-color: #d3cedf;
}

#studyBox {
  margin-bottom: 5%;
}

.studyContent {
  border: none !important;
  background-color: none !important;
  margin-bottom: 2% !important;
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
}

#studyStart {
  font-size: 1em;
  margin: 10px;
  font-weight: bolder;
}

#studyTitle {
  font-size: 1.4em;
  margin-top: 5%;
  font-weight: bold;
}

#studyFilter {
  width: 100%;
  height: 40%;
}

#testImg1,
#testImg2 {
  width: 23%;
  height: 75px;
}

.levelImg {
  width: 2em !important;
  height: 2em !important;
  border-radius: 50% !important;
}

#writerInfo {
  display: flex !important;
  justify-content: space-evenly !important;
  margin: 10px !important;
}

#writerImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px dotted #495c83;
}

#writerNick {
  font-size: 1.4em;
  text-align: center;
  font-weight: 700;
  vertical-align: bottom;
  padding-top: 27px;
  padding-bottom: 0;
}

.studySaveI {
  text-align: center !important;
  margin-top: 20px !important;
}
