@charset "UTF-8";

.memListPage {
    left: 20px;
    top: 40px;
    margin-bottom: 10px;
}

.memListPage a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.memListSearch {
    position: relative;
    width: 300px;
    display: flex;
	align-items: center;
}

#searchList {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
}

#search {
    /* width: 70%; */
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 14px;
}

.memListSearch>img {
    position : absolute;
    width: 17px;
    top: 8px;
    right: 25px;
    margin: 0;
}

.memListForm {
    width: 100%;
    min-width: 320px;
    padding: 100px 30px 30px;
    box-sizing: border-box;
}

.memListTable {
    margin: auto;
    /* border-top: 1.5px solid #495c82; */
    border-bottom: 1.5px solid #495c82;
}

.memListTitle {
    border-top: 1px solid #495c82;
    border-bottom:1.5px solid #495c82;
    /* background-color: #7A86B6; */
}

.memListContent {
    border-top:0.5px solid #495c82;
}

.memList {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.listNo {
    width: 5%;
}

.listId {
    width: 10%;
}
.listName {
    width: 10%;
}
.listEmail {
    width: 30%;
}
.listPhone {
    width: 20%;
}
.warning {
    width: 10%;
}
input[type=number] {
    width: 45px;
    border: 1px solid #bbb;
    border-radius: 5px;
    text-align: center;
}

.listDel {
    width: 5%;
}

.btnX {
  font-size: 15px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border: #495c82;
  /* text-align: center; */
}

#pageBar{
    margin-top: 15px;
    text-align: center;
}

#pageBar button {
  font-size: 15px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border: #495c82;
}