@charset "UTF-8";

* {
  font-family: "Noto Sans KR", sans-serif;
}

/* body css */
/* @media screen and (max-width: 768px)
.container {
    width: 100%;
} */
.view-container {
  text-align: center !important;
  width: 100% !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 3rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
  padding-bottom: 5rem !important;
}

#h1myPage {
  display: block !important;
  font-size: 3em !important;
  margin-block-start: 0.67em !important;
  margin-block-end: 0.67em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  margin-bottom: 40px !important;
  font-weight: bold !important;
  font-style: oblique !important;
  color: #7a86b6 !important;
}

.userImageUpload,
.userInfoChange {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.userImage {
  border-radius: 50% !important;
  border: 4px dashed white;
  background-color: #7a86b6;
}

.btnUserImageBox input[type="file"] {
  position: absolute !important;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* .userInfo {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
} */

.btnUserImageBox {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  margin-left: 10px !important;
}

.btnImageUpload,
.btnImageDelete {
  background-color: #262626 !important;
  color: #fff !important;
  border-radius: 10px !important;
  display: inline-block !important;
  cursor: pointer !important;
  text-align: center !important;
  width: 7.5rem !important;
  height: 2rem !important;
  font-weight: 700 !important;
  margin: 5px !important;
}

.userInfoChange {
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
}

.userInfoChange th {
  padding: 10px !important;
  text-align: center !important;
  font-size: larger !important;
}

.userInfoChange td {
  padding: 0 !important;
  text-align: left !important;
  margin: 0 !important;
}

.userInfoInputBox {
  width: 300px !important;
  height: 50px !important;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #e2e2e2 !important;
  margin-top: 10px !important;
  float: right !important;
  padding: 10px !important;
  font-size: large !important;
  font-weight: 1000 !important;
}

.userInfoAlert {
  display: block !important;
  color: #ff1800 !important;
  font-size: 15px !important;
  font-weight: 1000 !important;
  line-height: 1.5 !important;
  clear: both !important;
  margin-top: 1px !important;
}

.btnDuplicate {
  background-color: #262626 !important;
  color: #fff !important;
  border-radius: 10px !important;
  display: inline-block !important;
  cursor: pointer !important;
  text-align: center !important;
  padding-top: 0 !important;
  width: 5rem !important;
  height: 2rem !important;
  font-weight: 500 !important;
  margin: 7px !important;
  margin-top: 0 !important;
}

.btn {
  background-color: #7a86b6 !important;
  color: white !important;
  height: 50px !important;
  width: 150px !important;
  font-weight: 500 !important;
  font-size: larger !important;
  border-radius: 10px !important;
}

.btnBox {
  margin-top: 30px;
}

/* 비밀번호 변경 모달 */
#updatePwd-container {
  background: #a8a4ce !important;
  text-align: center !important;
  width: 100% !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 !important;
  border-radius: 10px !important;
}

.modal-header {
  align-items: center !important;
  font-size: 1.5em !important;
  font-weight: 700 !important;
}

.modal-title {
  color: #7a86b6 !important;
}

#updatePwd-container table {
  margin: 0 auto !important;
  border-spacing: 20px !important;
}

#updatePwd-container table th {
  padding-right: 20px !important;
  padding-top: 10px !important;
  text-align: center !important;
  font-size: medium !important;
  font-weight: 600 !important;
  color: white !important;
}

.updateInfoMsg {
  margin: 30px !important;
  color: #545e85 !important;
  font-weight: 700 !important;
  font-size: larger !important;
}

#updatePwd-container .inputPwdChange {
  width: 300px !important;
  height: 50px !important;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #e2e2e2 !important;
  margin-top: 10px !important;
  float: right !important;
  padding: 10px !important;
  font-size: large !important;
}

#updatePwd-container .btn {
  background-color: #7a86b6 !important;
  color: white !important;
  height: 50px !important;
  width: 150px !important;
  font-weight: 700 !important;
  font-size: larger !important;
  border-radius: 10px !important;
  margin-top: 10px !important;
}
