* {
  font-family: "Noto Sans KR", sans-serif;
}

/* body css */
@media only screen and (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .studyTitle {
    font-size: 50px;
    margin: 5px;
  }
}

a {
  text-align: none;
  text-decoration-color: white;
}

#myStudyType,
#likeStudyType {
  border-bottom: 6px dotted #e2e2e2;
  padding-bottom: 0rem !important;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* margin-bottom: 40px; */
  font-weight: bold;
  font-style: oblique;
  color: #7a86b6;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  height: 500 !important;
  border-radius: 15%;
  border: none;
  background-color: #e2e2e2;
}

#studyBox {
  margin-bottom: 5%;
}

.studyContent {
  border: none;
  background-color: none;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.studyStart {
  font-size: 1em;
  margin: 10px;
  font-weight: bolder;
}

#studyTitle1,
#studyTitle2 {
  font-size: 1.3em;
  margin-top: 5%;
  font-weight: 700;
}

#studyFilter1,
#studyFilter2 {
  width: 100%;
  height: 50%;
}

.testImg {
  width: 25%;
  height: 70px;
}

.levelImg {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

#writerInfo,
#writerInfo1,
#writerInfo2 {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

#writerImg1,
#writerImg2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px dashed #7a86b6;
}

#writerNick1,
#writerNick2 {
  font-size: 1.7em;
  text-align: center;
  font-weight: 900;
  vertical-align: bottom;
  padding-top: 27px;
  padding-bottom: 0;
}

.studySaveI {
  text-align: center;
  margin-top: 20px;
}

/* 삭제-마감 버튼 */
#btnBox1,
#btnBox2,
.btnBox {
  display: flex;
  justify-content: space-evenly;
}

.btnBox .btn {
  background-color: #7a86b6;
  color: white;
  width: 100px;
  height: 60px;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 20px;
  margin-top: 1px;
  border: none;
}

#btnMore1,
#btnMore2 {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: #7a86b6;
  border-radius: 30%;
  border: 3px dashed #7a86b6;
  background-color: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  writing-mode: horizontal-tb;
}
